{{- if .Values.ollama.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "modelgate.ollama.fullname" . }}
  labels:
    {{- include "modelgate.ollama.labels" . | nindent 4 }}
spec:
  type: {{ .Values.ollama.service.type }}
  ports:
    - port: {{ .Values.ollama.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "modelgate.ollama.selectorLabels" . | nindent 4 }}
{{- end }}

